<!DOCTYPE html>
<html>
	<head>
		<title>Sherry Luo, M.Sc. in Statistics </title>
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>
	<body>
		<nav>
    		<ul>
        		<li><a href="/">Home</a></li>
	        	<li><a href="/About">About</a></li>
        		<li><a href="/Resume">CV</a></li>
        		<li><a href="/blog">Blog</a></li>
    		</ul>
		</nav>
		<div class="container">
    		<div class="blurb">
        		<h1>Welcome!</h1>
				<p>I'm in the midst of learning how to create a github page. Come back to see updates. <a href="/about">Read more about my life...</a></p>
    		</div><!-- /.blurb -->
		</div><!-- /.container -->
		<footer>
    		<ul>
        		<li><a href="mailto:sherryluo08@gmail.com">email</a></li>
        		<li><a href="https://github.com/sluoo">github.com/sluoo</a></li>
			</ul>
		</footer>
	</body>
</html>
